@font-face {
    font-family: '20 Kopeek';
    src: url('../fonts/20Kopeek-Book.eot');
    src: url('../fonts/20Kopeek-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/20Kopeek-Book.woff2') format('woff2'),
    url('../fonts/20Kopeek-Book.woff') format('woff'),
    url('../fonts/20Kopeek-Book.ttf') format('truetype'),
    url('../fonts/20Kopeek-Book.svg#20Kopeek-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    width: 100%;
    padding-top: 32px;
}

.header {
    margin: auto;
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
}

.logo img {
    padding-right: 22px;
}

.span_logo {
    display: block;
    max-width: 193px;
    font-size: 15px;
    color: #ffffff;
    font-family: '20 Kopeek';
}

.phone_block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.phone {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    line-height: 22px;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    padding-top: 7px;
    padding-right: 27px;
    padding-bottom: 7px;
    padding-left: 33px;
    font-family: '20 Kopeek';
}

.fb {
    margin-left: 23px;
}

.ig {
    margin-left: 23px;
}

.main_section {
    padding-top: 344px;
    height: 100vh;
    background: url('../images/milk_background.png');
    background-size: cover;
}

.box {
    margin: auto;
    max-width: 1110px;
}

h1 {
    margin: 0;
    font-family: '20 Kopeek';
    font-size: 55px;
    line-height: 55px;
    color: #181818;
}

.span_box {
    font-size: 34px;
    line-height: 37px;
    display: block;
    padding-top: 30px;
    font-family: '20 Kopeek';
}

.main_section_buttons {
    display: flex;
    padding-top: 65px;
}

.portfolio_button {
    background: #FFFFFF;
    border-radius: 40px;
    font-size: 18px;
    color: #181818;
    line-height: 25px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 23px 47px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    font-family: '20 Kopeek';
}

.left_request_button {
    background: #FFFFFF;
    border-radius: 40px;
    font-size: 18px;
    color: #181818;
    line-height: 25px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 23px 47px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    font-family: '20 Kopeek';
}

.what_is_form_style {
    padding: 70px 0 83px 0;
}

.container {
    max-width: 1110px;
    margin: auto;
}

.d_flex {
    display: flex;
}

.jc_sb {
    justify-content: space-between;
}

.what_is_form_style_content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 141px;
}

h2 {
    font-family: '20 Kopeek';
    font-size: 38px;
    line-height: 42px;
    color: #181818;
    margin-bottom: 15px;
}

.what_is_form_style_text {
    min-height: 400px;
    max-width: 445px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.what_is_form_style_text p {
    font-family: '20 Kopeek';
    font-size: 18px;
    line-height: 25px;
    color: #181818;
}

.what_is_form_style img {
    display: inline-block;
    max-width: 100%;
    max-height: 381px;
}

.what_is_form_style h3 {
    font-family: '20 Kopeek';
    font-size: 55px;
    line-height: 55px;
    color: #181818;
    margin-bottom: 69px;
}

.essential_elements {
    display: flex;
    justify-content: space-around;
}

.essential_elements p {
    position: relative;
    font-family: '20 Kopeek';
    font-size: 18px;
    line-height: 25px;
    color: #181818;
    max-width: 120px;
}

.essential_elements span {
    position: absolute;
    top: -25px;
    left: -40px;
    font-family: '20 Kopeek';
    font-size: 55px;
    line-height: 55px;
    color: #181818;
}

.essential_elements div:nth-child(5) p:nth-child(1) {
    max-width: 140px;
    margin-bottom: 18px;
}

.essential_elements div:nth-child(5) p:nth-child(2) {
    max-width: 260px;
    font-family: '20 Kopeek';
    font-size: 15px;
    line-height: 19px;
    color: #181818;
    margin-bottom: 120px;
}

.style_cost {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: end;
}

.style_cost_content {
    max-width: 396px;
}

.style_cost_content p {
    font-family: '20 Kopeek';
    font-size: 18px;
    line-height: 25px;
    color: #181818;

}

.style_cost_content p:nth-child(-n+2) {
    margin-bottom: 30px;
}

.style_cost_content p:nth-child(3) {
    color: #FFFFFF;
    margin: -13px;
    background: #2B59C3;
    border-radius: 5px;
    padding: 13px;
}
